<section>
    <div class="">

        <div class=" mt-4">





            <a href="/add-magazine" class="btn btn-success ml-auto">മറ്റു പേജുകള്‍</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2 class="text-center mb-4">സൂചിക</h2>
                </div>

                
                <div class="bg-secondary">
                    <h5 class="ml-2 text-white">കവിതകള്‍</h5>
                    <div class="ml-2 mb-4">
                        <a href="/ka" class="btn btn-warning">കവിത അടുപ്പത്തുണ്ട് -അനൂപ്</a>
                        <a href="/" class="btn btn-warning">ഓര്‍മ്മയുടെ തീരത്ത് -അനൂപ്</a>
                        <a href="/" class="btn btn-warning">മെയ്ദിനത്തില്‍ ഒരു ഉണര്‍ത്തുപാട്ട് -അനൂപ്</a>
                        <a href="/" class="btn btn-warning">സോദരീ നിന്റെ ധീര ജവാന് മരണമില്ല -അനൂപ്</a>
                        <a href="/" class="btn btn-warning">ഓര്‍മ്മകളിലെ പ്രളയം -അനൂപ്</a>
                        <a href="/" class="btn btn-warning">വിദൂരനക്ഷത്രം-അനൂപ്</a>
                        <a href="/" class="btn btn-warning">മോഹം -അനൂപ്</a>
                    
                        <a href="/" class="btn btn-warning">മൌനാനുരാഗം -മണികണ്ഠന്‍</a>
                        <a href="/" class="btn btn-warning">പരിധികള്‍ക്കപ്പുറം -മണികണ്ഠന്‍</a>
                        <a href="/" class="btn btn-warning">പ്രണയം -മണികണ്ഠന്‍</a>
                        <a href="/" class="btn btn-warning">ഇത് ഇന്ത്യയുടെ ഭൂപടം -മണികണ്ഠന്‍</a>
                        <a href="/" class="btn btn-warning">കോവിഡ് പോസിറ്റീവ് -മണികണ്ഠന്‍</a>
                    
                        <a href="/" class="btn btn-warning">ഓംകാര ധ്വനിയാകുന്നു ബ്രഹ്മം -പ്രസീത</a>
                        <a href="/" class="btn btn-warning">ഒരു തൈ നട്ടു മുളച്ചൊരാ പൈതലിന്‍ -പ്രസീത</a>
                    
                        <a href="/" class="btn btn-warning">വിഹ്വലതകള്‍ സ്നേഹപൂര്‍വ്വം -സരിത</a>
                    
                        <a href="/" class="btn btn-warning">വസന്താവശിഷ്ടങ്ങള്‍ -നിര്‍മ്മല</a>
                    </div>
                </div>

                
                <div class="bg-secondary">
                    <h5 class="ml-2 text-white">കഥകള്‍</h5>
                    <div class="ml-2 mb-4">
                        <a href="/ka" class="btn btn-warning">വീട് -നിര്‍മ്മല</a>
                    
                        <a href="/" class="btn btn-warning">പുളിഞ്ചി -അനീഷ് കുമാര്‍</a>
                    
                        <a href="/" class="btn btn-warning">സന്ദര്‍ശനം -സരിത</a>
                        <a href="/" class="btn btn-warning">ചോദ്യങ്ങള്‍ -സരിത</a>
                    
                        <a href="/" class="btn btn-warning">പ്രേമം -മണികണ്ഠന്‍</a>
                    </div>
                </div>

                
                <div class="bg-secondary">
                    <h5 class="ml-2 text-white">ഓര്‍മ്മക്കുറിപ്പുകള്‍</h5>
                    <div class="ml-2 mb-4">
                        <a href="/" class="btn btn-warning">ഓര്‍മ്മയിലെ ആദ്യത്തെ അടി -വിപിന്‍ പിച്ചിനാട്ട്</a>
                        <a href="/" class="btn btn-warning">ഒരു ഓര്‍മ്മക്കുറിപ്പ് -വിപിന്‍ പിച്ചിനാട്ട്</a>
                
                        <a href="/" class="btn btn-warning">ഓര്‍മ്മകളില്‍ സഹയാത്രികര്‍ -പോളി റാഫേല്‍</a>
                    </div>
                </div>

                
                <div class="bg-secondary">
                    <h5 class="ml-2 text-white">ലേഖനം</h5>
                    <div class="ml-2 mb-4">
                        <a href="/" class="btn btn-warning">നേര്‍കാഴ്ച -നിര്‍മ്മല</a>
                    </div>
                </div>
                
                
                <div class="bg-secondary">
                    <h5 class="ml-2 text-white">ചര്‍ച്ച</h5>
                    <div class="ml-2 mb-4">
                        <a href="/" class="btn btn-warning">സ്ത്രീ സ്വാതന്ത്ര്യം അഭിപ്രായങ്ങളും ചിന്തകളും -അവതരണം: സരിത</a>
                    </div>
                </div>

            </div>
        </div>
</section>