        <section>






        <div class=" mt-3">
            <div class="row">
                <div class="img col-md-6">     
                    <img src="\images\frontpage.png" alt="" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="img col-md-6">
            <a href="/add-index" class="btn btn-success">Index Page (സൂചിക പേജ്)</a>
        </div>
        
    </section>
   

    
    
   

    