








    
    <section>
        
        <div class="container">
        <div class="row mt-4">
            <a href="/view-teacher" class="btn btn-success ml-auto">View Teacher</a>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <form action="/add-teacher" method="POST" name="form">

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">File No.</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="colFormLabel" placeholder="" name="fileno">
                            </div>
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="colFormLabel" placeholder="" name="date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">College</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="college" name="college">
                                {{#each colleges}}
                                <option id="{{this.treasury}}" value="{{this.college}}">{{this.college}}</option>
                                {{/each}}
                            </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="" name="name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Subject</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="" name="subject">
                            </div>
                        </div>

                        
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">DOB</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="birthdate">
                            </div>
                            <label for="" class="col-sm-4 col-form-label">Date of Appointment</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="joindate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Workload</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="" name="workload">
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Posts</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="" name="sanctioned">
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Others</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="" name="others">
                            </div>
                        </div>

                        

                        
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Nature of Vacancy</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="" name="vacancynature">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="" class="col-sm-7 col-form-label">News Paper</label>
                            <label for="" class="col-sm-5 col-form-label">Date of Notification</label>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-7">
                                <select class="form-control" id="exampleFormControlSelect1" name="paper1">
                                <option>മാതൃഭൂമി</option>
                                <option>മലയാള മനോരമ</option>
                                <option>ദേശാഭിമാനി</option>
                                <option>കേരള കൌമുദി</option>
                                <option>ജനയുഗം</option>
                                <option>ജന്മഭൂമി</option>
                                <option>ചന്ദ്രിക</option>
                                <option>വീക്ഷണം</option>
                                <option>Indian Express</option>
                                <option>The Hindu</option>
                            </select>
                            </div>  
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="" name="paperdate1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-7">
                                <select class="form-control" id="exampleFormControlSelect1" name="paper2">
                                <option>മാതൃഭൂമി</option>
                                <option>മലയാള മനോരമ</option>
                                <option>ദേശാഭിമാനി</option>
                                <option>കേരള കൌമുദി</option>
                                <option>ജനയുഗം</option>
                                <option>ജന്മഭൂമി</option>
                                <option>ചന്ദ്രിക</option>
                                <option>വീക്ഷണം</option>
                                <option>Indian Express</option>
                                <option>The Hindu</option>
                            </select>
                            </div>  
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="" name="paperdate2">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-7">
                                <select class="form-control" id="exampleFormControlSelect1" name="paper3">
                                <option>മാതൃഭൂമി</option>
                                <option>മലയാള മനോരമ</option>
                                <option>ദേശാഭിമാനി</option>
                                <option>കേരള കൌമുദി</option>
                                <option>ജനയുഗം</option>
                                <option>ജന്മഭൂമി</option>
                                <option>ചന്ദ്രിക</option>
                                <option>വീക്ഷണം</option>
                                <option>Indian Express</option>
                                <option>The Hindu</option>
                            </select>
                            </div>  
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="" name="paperdate3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-7">
                                <select class="form-control" id="exampleFormControlSelect1" name="paper4">
                                <option>മാതൃഭൂമി</option>
                                <option>മലയാള മനോരമ</option>
                                <option>ദേശാഭിമാനി</option>
                                <option>കേരള കൌമുദി</option>
                                <option>ജനയുഗം</option>
                                <option>ജന്മഭൂമി</option>
                                <option>ചന്ദ്രിക</option>
                                <option>വീക്ഷണം</option>
                                <option>Indian Express</option>
                                <option>The Hindu</option>
                            </select>
                            </div>  
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="" name="paperdate4">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-9 col-form-label">No. of Vacancy as per Notification</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="papervacancy">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Govt. Lr. No.</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="govtlrno">
                            </div>
                            <label for="" class="col-sm-3 col-form-label">Govt. Lr. Date</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="govtlrdate">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-form-label">Nominee Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="" name="nomineename">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-form-label">Nominee Designation</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="" name="nomineedesignation">
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=" ചെയര്‍മാന്‍" id="flexCheckDefault" name="member">
                            <label class="form-check-label col-sm-3" for="flexCheckDefault">Chairman</label>
                            <input class="form-check-input" type="checkbox" value=" സര്‍ക്കാര്‍ നോമിനി" id="flexCheckDefault" name="member">
                            <label class="form-check-label col-sm-4" for="flexCheckDefault">Govt. Nominee</label>
                            <input class="form-check-input" type="checkbox" value=" സബ്ജക്റ്റ് എക്സ്പെര്‍ട്ട്" id="flexCheckDefault" name="member">
                            <label class="form-check-label col-sm-4" for="flexCheckDefault">Subject Expert</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=" മാനേജ്മെന്റ് നോമിനി" id="flexCheckDefault" name="member">
                            <label class="form-check-label col-sm-7" for="flexCheckDefault">Management Nominee</label>
                            <input class="form-check-input" type="checkbox" value=" പ്രിന്‍സിപ്പാള്‍" id="flexCheckDefault" name="member">
                            <label class="form-check-label col-sm-4" for="flexCheckDefault">Principal</label>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Interview Date</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="interviewdate">
                            </div>
                            <label for="" class="col-sm-4 col-form-label">No. of Candidates</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="" name="candidates">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="exampleFormControlSelect1" name="category">
                                <option>ഓപ്പണ്‍ മെറിറ്റ്</option>
                                <option>കമ്മ്യൂണിറ്റി മെറിറ്റ്</option>
                            </select>
                            </div> 
                            <label for="" class="col-sm-4 col-form-label">No. of Rankholders</label> 
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="" name="rankholders">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Rank</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="" name="rank">
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Management</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="" name="management">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-form-label">Excess Report</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="" name="excessreport">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-form-label">Manager Undertaking</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="exampleFormControlSelect1" name="mundertaking">
                                <option>സമര്‍പ്പിച്ചിട്ടുണ്ട്</option>
                                <option>സമര്‍പ്പിച്ചിട്ടില്ല</option>
                                </select>
                            </div>  
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-form-label">Candidate Undertaking</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="exampleFormControlSelect1" name="cundertaking">
                                <option>സമര്‍പ്പിച്ചിട്ടുണ്ട്</option>
                                <option>സമര്‍പ്പിച്ചിട്ടില്ല</option>
                                </select>
                            </div>  
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">CU Lr No</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="universitylrno">
                            </div>
                            <label for="" class="col-sm-3 col-form-label">CU Lr Date</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="universitylrdate">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Manager Lr No</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="managerlrno">
                            </div>
                            <label for="" class="col-sm-3 col-form-label">Manag Lr Date</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="managerlrdate">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Prl Lr No</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="lrno">
                            </div>
                            <label for="" class="col-sm-3 col-form-label">Prl Lr Date</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" name="lrdate">
                            </div>
                        </div>

                        <a onclick="Add()" class="btn btn-success" id="btn">OK</a>
                        <button type="submit" class="btn btn-primary" >SAVE</button>

                        <div class="form-group row invisible">
                            <label for="" class="col-sm-5 col-form-label">Treasury</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="treasury" name="treasury">
                            </div>
                        </div>
                         <div class="form-group row invisible">
                            <label for="" class="col-sm-5 col-form-label">Members</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="members" name="members">
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        
        const btn = document.querySelector('#btn');
        btn.addEventListener('click', (event) => {
            let checkboxes = document.querySelectorAll('input[name="member"]:checked');
            let values = [];
            checkboxes.forEach((checkbox) => {
                values.push(checkbox.value);
            });
            document.form.members.value = String(values);
        });    
          
    </script>
   

    