<section>
    <div class="container">







        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h2 class="text-center mb-4">UGC Pay Revision</h2>
                    </div>

                    <form action="" method="" name="form">

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Pay</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="pay" placeholder="" name="pay">
                            </div>
                            <label for="colFormLabel" class="col-sm-2 col-form-label">AGP</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="agp" placeholder="" name="agp">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-4 col-form-label">Promotion Date</label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="promotiondate" placeholder=""
                                    name="promotiondate">
                            </div>
                            <a onclick="Add()" class="btn btn-success" id="">OK</a>
                        </div>

                    

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-xs-2 col-form-label">Revised Pay</label>
                            <div class="col-xs-3">
                                <input type="date" class="form-control" id="revdate" name="revdate">
                            </div>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="revpay" name="revpay">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="firstdate" name="firstdate">
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="first" name="first">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="seconddate" name="seconddate">
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="second" name="second">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="thirddate" name="thirddate">
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="third" name="third">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="fourthdate" name="fourthdate">
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="fourth" name="fourth">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="fifthdate" name="fifthhdate">
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="fifth" name="fifth">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="sixthdate" name="sixthhdate">
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="sixth" name="sixth">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Level</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="level" placeholder="" name="level">
                            </div>
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Cell</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="cell" placeholder="" name="cell">
                            </div>
                        </div>
                    

                    </form>
                </div>
            </div>
        </div>
</section>
<script>
    function Add() {

        var pay = document.form.pay.value;
        var agp = document.form.agp.value;

        var num1 = eval(pay + "+" + agp) * 2.57;


        if (agp == 6000) {
            ep = 57700;
            level = 10;
        } else if (agp == 7000) {
            ep = 68900;
            level = 11;
        } else if (agp == 8000) {
            ep = 79800;
            level = 12;
        } else if (agp == 9000) {
            ep = 131400;
            level = "13A";
        } else if (agp == 10000) {
            ep = 144200;
            level = 14;
        } else {
            ep = 182200;
            level = 15;
        }

        var cell = 1;

        for (; ep < num1;) {
            ep = Math.round(ep * 103 / 10000) * 100;
            cell = cell + 1;
        }

        var revpay = ep;
        var first = Math.round(revpay * 103 / 10000) * 100;
        var second = Math.round(first * 103 / 10000) * 100;
        var third = Math.round(second * 103 / 10000) * 100;
        var fourth = Math.round(third * 103 / 10000) * 100;
        var fifth = Math.round(fourth * 103 / 10000) * 100;
        var sixth = Math.round(fifth * 103 / 10000) * 100;

        var revdate = "2016-01-01"
        var firstdate = "2016-07-01"
        var seconddate = "2017-07-01"
        var thirddate = "2018-07-01"
        var fourthdate = "2019-07-01"
        var fifthdate = "2020-07-01"
        var sixthdate = "2021-07-01"


        var promotiondate = document.form.promotiondate.value;
        var prodate = new Date(promotiondate).getTime();
        var revisiondate = new Date(revdate).getTime();
        var fdate = new Date(firstdate).getTime();
        var sdate = new Date(seconddate).getTime();
        var tdate = new Date(thirddate).getTime();
        var fodate = new Date(fourthdate).getTime();
        var fidate = new Date(fifthdate).getTime();
        var sidate = new Date(sixthdate).getTime();
        var promonth = new Date(promotiondate).getMonth() + 1;

        var pays = [first, second, third, fourth, fifth, sixth]
        var incdates = [revisiondate, fdate, sdate, tdate, fodate, fidate, sidate];
        var incrementdates = [firstdate, seconddate, thirddate, fourthdate, fifthdate, sixthdate];
        for (var i = 0; i < incrementdates.length; i++) {
            if (prodate >= incdates[i] && prodate < incdates[i + 1]) {
                var incyear = new Date(incrementdates[i]).getFullYear();
                incrementdates[i] = promotiondate;
                var pay = pays[i];
                if (agp == 6000) {
                    revep = 68900;
                    level = 11;
                } else if (agp == 7000) {
                    revep = 79800;
                    level = 12;
                } else if (agp == 8000) {
                    revep = 131400;
                    level = "13A";
                } else if (agp == 9000) {
                    revep = 144200;
                    level = 14;
                } else {
                    revep = 182200;
                    level = 15;
                }
                var cell = 1;
                for (; revep < pay;) {
                revep = Math.round(revep * 103 / 10000) * 100;
                cell = cell + 1;
                }
                pays[i] = revep;
                var k = i;
                i = incrementdates.length;
            }
        }

        for (var j = k + 1; j < incrementdates.length; j++) {
            if (promonth < 7) {
                incrementdates[j] = incyear + 1 + '-01-01';
            } else {
                incrementdates[j] = incyear + '-07-01';
            }
            pays[j] = Math.round(pays[j-1] * 103 / 10000) * 100;
            incyear = incyear + 1;
        }

        var firstdate = incrementdates[0]
        var seconddate = incrementdates[1]
        var thirddate = incrementdates[2]
        var fourthdate = incrementdates[3]
        var fifthdate = incrementdates[4]
        var sixthdate = incrementdates[5]

        var first = pays[0]
        var second = pays[1]
        var third = pays[2]
        var fourth = pays[3]
        var fifth = pays[4]
        var sixth = pays[5]


        document.form.revdate.value = revdate;
        document.form.firstdate.value = firstdate;
        document.form.seconddate.value = seconddate;
        document.form.thirddate.value = thirddate;
        document.form.fourthdate.value = fourthdate;
        document.form.fifthdate.value = fifthdate;
        document.form.sixthdate.value = sixthdate;


        document.form.revpay.value = revpay;
        document.form.first.value = first;
        document.form.second.value = second;
        document.form.third.value = third;
        document.form.fourth.value = fourth;
        document.form.fifth.value = fifth;
        document.form.sixth.value = sixth;

        document.form.level.value = level;
        document.form.cell.value = cell;


        

    }

</script>